.Contact-Title{
    font-family: $Roboto;
    font-weight: bold;
    border-bottom: 1px solid #000;
    width: fit-content;
    padding-top: 10px;
    margin-bottom: 3px;
}
.Name{
    font-family: $Roboto;
    display: inline-block;
    font-weight: bold;
    padding-right: 10px;
}
.Number{
    font-family: $Roboto;
    display: inline-block;
}
.Contact{
    font-family: $Roboto;
}
.Map{
    width: 50%;
    height: 300px;
}

p{
    margin: 0px;
}