.Home {
    font-family: $Roboto;
    .productGroupTitle{
        font-size: $FontSizeMedium;
        text-align: center;
    }
    .MainHeader{
        display:flex;
        justify-content:center;
        align-items:center;
        h1{
        text-align: center;
        border-bottom: 2px solid $colorBlue;
        border-radius: 3px;
        width: 70%;
        }
    }
}

