body {
}
  
li {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
  
.header {
  padding: 0px;
  margin: 0px;
  li {
    display: inline;
    list-style-type: none;
    padding: 1%;
    a {
      color: #000;
      text-decoration: none;
      display: inline-block;
    }
  }
}

.active {
  font-weight: bold;
  border-bottom: 2px solid #000;
  border-radius: 3px;
}

a:hover {
  font-weight: bold;
}

.content {
  text-align: center;
}