body {
    padding: 20px;
  }
  
h1, h2, p, ul, li {
  font-family: sans-serif;
}
  
ul.header {
  li {
    display: inline;
    list-style-type: none;
    a {
      color: #000;
      font-weight: bold;
      text-decoration: none;
      padding: 20px;
      display: inline-block;
    }
  }
}
  
.content {
  padding: 20px;
  li {
    margin-bottom: 10px;
  }
}

.active {
  background-color: #ddd;
}

a:hover {
  background-color: #ddd;
}