@import 'config';
@import 'header';
@import 'home';
@import 'contact';
@import 'mashines';
@import 'products';

body {
    padding: 2%;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: white;
    height: 50px;
    width: 90%;
    font-weight: 600;
}